In [1]:
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt

In [97]:
days = 10

tickers = {
    
}


ap = yf.Ticker("AAPL")
ap = ap.history(period=f"{days}d")
ap.index = ap.index.strftime("%d %B %Y")
ap = ap[["Close"]]
ap.columns = ["apple"]
ap = ap.T
ap.index.name = "Name"

ap

Date,29 September 2022,30 September 2022,03 October 2022,04 October 2022,05 October 2022,06 October 2022,07 October 2022,10 October 2022,11 October 2022,12 October 2022
Name,,,,,,,,,,
apple,142.479996,138.199997,142.449997,146.100006,146.399994,145.429993,140.089996,140.419998,138.979996,138.339996

In [ ]:
ms = yf.Ticker("MSFT").history(period=f"{days}d")
ms.head()

In [6]:
# トヨタ
# t7203 = yf.Ticker("7203.T")

# ソフトバンク
# t9984 = yf.Ticker("9984.T")

# 三菱UFJ
# t8306 = yf.Ticker("8306.T")

# キーエンス
# t6861 = yf.Ticker("6861.T")